PORT=3000
NODE_ENV=production

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pickus
PGADMIN_DEFAULT_EMAIL=admin@pickus.com
PGADMIN_DEFAULT_PASSWORD=admin

# Frontend Configuration
# Replace 192.168.1.X with your computer's actual local IP address
REACT_NATIVE_PACKAGER_HOSTNAME=192.168.1.X
EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
API_URL=http://<your-ethernet-ip>:3000
