PORT=3000

# Set to your machine IP when testing from phone
REACT_NATIVE_PACKAGER_HOSTNAME=<your-ethernet-ip>
EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
API_URL=http://<your-ethernet-ip>:3000
NGROK_AUTHTOKEN=<your-ngrok-authtoken>
