PORT=3000
NODE_ENV=development

# If you want to run the backend without Docker
# Uncomment the following line and set DB_HOST to localhost
# DB_HOST=localhost 
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pickus
PGADMIN_DEFAULT_EMAIL=admin@pickus.com
PGADMIN_DEFAULT_PASSWORD=admin
JWT_ACCESS_SECRET=jwt-acceess-secret
JWT_REFRESH_SECRET=jwt-refresh-secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
BCRYPT_SALT_ROUNDS=10
REFRESH_TOKEN_COOKIE_KEY=refreshToken
# Frontend Configuration
# Replace 192.168.1.X with your computer's actual local IP address
REACT_NATIVE_PACKAGER_HOSTNAME=192.168.1.X
EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
API_URL=http://<your-ethernet-ip>:3000
